    @import 'theme';

    *{
      margin: 0;
      padding: 0;
    }

    @font-face {
      font-family: roboto;
      src: url('../fonts/roboto/Roboto-Regular.woff');
    }

    body,html{
        font-size : 18px;
        width: 100%;
        height: 100%;
        font-family: roboto;
        position: relative;
    }

    .progress{
        margin: 0 !important;
        transition: all 2s;
    }
    .sidebar{
        width: 20%;
        position: absolute;
        background: $sidebar ;
        top : 0;
        bottom : 0;
        z-index: 10;
    }

    .sidebar .intro{
        text-align : center;
        padding: 60px 0;
        background: $sidebar_intro;
    }

    .sidebar .intro .title{
        color : #F5F3F8;
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .sidebar .intro .subtitle{
        color : #DCC8FE;
        font-size: 0.6rem;
    }

    .sidebar .intro .circle {
        width: 70px;
        height: 70px;
        background: #D65050;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color : #fff;
        margin: 0 auto;
    }

    /* Menu */
    .item{
        height: 60px;
        padding: 15px 10px;
        cursor: pointer;
    }

    .item.active{
        background: #5E427A;
    }

    .item i{
        font-size: 20px;
        color : #f7f7f7;
    }

    .item .text{
        float: left;
    }

    .item .level1{
        color: #fff;
        font-size: 0.9rem;
    }

    .item .detail {
        color: #E2D0FF;
        font-size: 0.6rem;
    }

    .item .circle {
        width: 40px;
        height: 40px;
        float: left;
        border: 1px solid #d9edf7;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Content */
    .content{
        width: 80%;
        height: 100%;
        background: #F2EFF6;
        min-height: 400px;
        position: relative;
        margin-left: 20%;
    }

    .content .header{
        padding: 10px 20px;
        background: #FAFAFA;
    }

    .content .header .left-header .circle{
        width: 40px;
        height: 40px;
        float: left;
        border: 1px solid #d9edf7;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .header .left-header .text{
        float: left;
    }

    .content .header .left-header .level1{
        color: #686868;
        font-size: 1rem;
    }

    .content .header .left-header .detail {
        color: #686868;
        font-size: 0.7rem;
    }

    @media only screen and (max-device-width: 480px) {
        div.content{
            width: 100%;
            margin-left: 0px;
        }

        div.intro{
            display: none;
        }

        div.sidebar{
          display: none;
        }
    }

    .clear{
        clear : both;
    }

    .item a{
        display: block;
    }


    /* Chat */
    .main{
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .chat{
  		padding: 16px;
  		flex-direction: column;
  		display: flex;
  	}

    .common_message_row {
      display: flex;
      flex-direction: column;
      min-width: 100px;
      max-width: 65%;
      word-wrap: break-word;
    }

  	.text_message.me {
  	    background: #fff;
  	    padding: 8px 10px;
  	    border-radius: 3px;
  	    margin: 4px 10px;
  	    box-shadow: 4px 4px 4px #efefef;
  	    font-size: 0.8rem;
  	    align-self: flex-start;
  	    position: relative;
        @extend .common_message_row;
  	}
    /*
  	.text_message.me:after {
  		content: '';
  		position: absolute;
  		border-style: solid;
  		border-width: 8px 15px 8px 0;
  		border-color: transparent #FFFFFF;
  		display: block;
  		width: 0;
  		z-index: 1;
  		margin-top: -8px;
  		left: -13px;
  		top: 50%;
  	} */

  	.text_message.other {
  	    background: #9E5DDF;
  	    color: #fff;
  	    padding: 4px 10px;
  	    border-radius: 3px;
  	    margin: 4px 10px;
  	    box-shadow: 4px 4px 4px #efefef;
  	    font-size: 0.8rem;
  	    align-self: flex-end;
  	    position: relative;
        @extend .common_message_row;
        .time{
            color : #fff;
        }
  	}
    .text_message img{
        max-width: 100%;
        height: auto;
    }
    /*
  	.text_message.other:after {
  		content: '';
  		position: absolute;
  		border-style: solid;
  		border-width: 8px 0 5px 7px;
  		border-color: transparent #9E5DDF;
  		display: block;
  		width: 0;
  		z-index: 1;
  		margin-top: -4px;
  		right: -7px;
  		top: 50%;
  	}  */

    .time {
        font-size: 0.5rem;
        color : #333;
        align-self: flex-end;
        max-width: 70%;
    }

    .fixed_text{
      position: absolute;
      bottom: 10px;
      padding: 5px;
      left: 2%;
      width: 96%;
      background: #fff;
      border: none;
      outline: none;
      color: #333;
      font-size: 0.8rem;
    }

    .date_seperator {
        width: 100px;
        padding: 3px;
        background: white;
        font-size: 0.8rem;
        border-radius: 13px;
        text-align: center;
        margin: 10px auto;
    }

    /* Files */

    .right-header{
      float: right;
    }
    .left-header{
      float: left;
    }

    #columns {
    	column-width: 220px;
    	column-gap: 15px;
      width: 90%;
    	max-width: 1100px;
    }

    div#columns .embed {
    	background: #fefefe;
    	border: 2px solid #fcfcfc;
    	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    	margin: 0 2px 15px;
    	padding: 5px;
    	transition: opacity .4s ease-in-out;
      display: inline-block;
      -webkit-column-break-inside: avoid;
    }

    div#columns .embed img {
    	width: 100%;
      height: auto;
    }

    div#columns:hover figure:not(:hover) {
    	opacity: 0.4;
    }

    @media screen and (max-width: 750px) {
      #columns { column-gap: 0px; }
      #columns .embed { width: 100%; }
    }
