<div class="header">
	<div class="left-header">
		<div class="circle">
			<i class="fa fa-comments"></i>
		</div>
		<div class="text">
			<div class="level1">Chat</div>
			<div class="detail"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right-header">
		  <a class="waves-effect btn-flat" rel="upload"><i class="material-icons right">library_add</i></a>
			<input type="file" id="file" name="file" class="hide"/>
	</div>
	<div class="clear">
	</div>
</div>
<div class="main">
	<div class="chat" rel="chat">

	</div>
</div>
<input class="fixed_text" type="text" id="content" placeholder="Type here"/></div>
