<div class="header">
	<div class="left-header">
		<div class="circle">
			<i class="fa fa-dropbox"></i>
		</div>
		<div class="text">
			<div class="level1">Files</div>
			<div class="detail" rel="file_count"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right-header">
		  <a class="waves-effect btn-flat" rel="upload"><i class="material-icons right">library_add</i></a>
			<input type="file" id="file" name="file" class="hide"/>
	</div>
	<div class="clear"></div>
</div>
<div rel="progress_bar" class="progress hide">
		<div class="indeterminate"></div>
</div>
<div class="main">
	<div class="" rel="chat">
					<div rel="blocks" id="columns">
					</div>
        </div>
  	</div>
</div>
