<div class="header">
	<div class="left-header">
		<div class="circle">
			<i class="ion-upload"></i>
		</div>
		<div class="text">
			<div class="level1">Drive</div>
			<div class="detail" rel="file_count">...</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right-header">
		  <a rel="upload" class="files_opt"><i class="ion-ios-upload-outline"></i></a>
			<a href="#/chat" class="chat_opt"><i class="ion-ios-chatbubble-outline"></i></a>
			<input type="file" id="file" name="file" class="hide"/>
	</div>
	<div class="clear"></div>
</div>
<div class="main">
	<div class="loader"></div>
	<div class="empty_files hide">
				<i class="fa fa-magic"></i>
				There are no files
	</div>
	<div class="" rel="chat">
					<div rel="blocks" id="columns">
					</div>
        </div>
  	</div>
</div>
<!-- Templates -->
<script id="img_template" type="text/x-handlebars-template">
			<a target="_blank" href="{{url}}" data-name={{name}}>
				<div class="block" style="background-image : url('{{url}}')">
						<div class="title">{{name}}</div>
				</div>
			</a>
</script>
<script id="other_template" type="text/x-handlebars-template">
				<a target="_blank" href="{{file.url}}" data-name={{name}}>
					<div class="block" style="background:#fff">
							<i class="fa fa-file-{{type}}-o"></i>
							<div class="title">{{name}}</div>
					</div>
				</a>
</script>
