<div class="header">
	<div class="left-header">
		<div class="circle">
			<i class="fa fa-comments"></i>
		</div>
		<div class="text">
			<div class="level1">Chat</div>
			<div class="detail" rel="status"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right-header">

	</div>
	<div class="clear">
	</div>
</div>
<div class="main">
	<div class="chat" rel="chat">

	</div>
</div>
<div class="footer_controls">
		<a class="upload" rel="upload"><i class="fa fa-plus"></i></a>
		<textarea class="fixed_text" id="content" placeholder="Enter text"/>
		<input type="file" id="file" name="file" class="hide"/>
</div>

</div>
<!-- Templates -->
<script id="chat_my_message" type="text/x-handlebars-template">
	<div class="text_message me" data-time="{{time_stamp}}">
			{{content}}
			<div class="time">{{time}}</div>
	</div>
</script>
<script id="chat_other_message" type="text/x-handlebars-template">
	<div class="text_message other" data-time="{{time_stamp}}">
			{{content}}
			<div class="time">{{time}}</div>
	</div>
</script>

<script id="chat_my_message_file" type="text/x-handlebars-template">
	<div class="text_message me" data-time="{{time_stamp}}">
			<a target="_blank" href="{{content}}">
					<img class="file_preview lazy" data-original="{{content}}"></img>
			</a>
			<div class="time">{{time}}</div>
	</div>
</script>

<script id="chat_other_message_file" type="text/x-handlebars-template">
	<div class="text_message other" data-time="{{time_stamp}}">
			<a target="_blank" href="{{content}}">
					<img class="file_preview lazy" data-original="{{content}}"></img>
			</a>
			<div class="time">{{time}}</div>
	</div>
</script>
