*{
        margin: 0;
    }

    body,html{
        font-size : 18px;
        width: 100%;
        height: 100%;
    }

    .sidebar{
        width: 20%;
        height: 100%;
        background: #673E8C ;
        min-height: 400px;
        float: left;
    }

    .sidebar .intro{
        text-align : center;
        padding: 60px 0;
        background: #511F79;
    }

    .sidebar .intro .title{
        color : #F5F3F8;
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .sidebar .intro .subtitle{
        color : #DCC8FE;
        font-size: 0.6rem;
    }

    .sidebar .intro .circle {
        width: 70px;
        height: 70px;
        background: #D65050;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color : #fff;
        margin: 0 auto;
    }
        
    /* Menu */
    .item{
        height: 60px;
        padding: 15px 10px; 
        cursor: pointer;
    }

    .item.active{
        background: #5E427A;
    }

    .item i{
        font-size: 20px;
        color : #f7f7f7;
    }

    .item .text{
        float: left;
    }
    
    .item .level1{
        color: #fff;
        font-size: 0.9rem;
    }

    .item .detail {
        color: #E2D0FF;
        font-size: 0.6rem;
    }

    .item .circle {
        width: 40px;
        height: 40px;
        float: left;
        border: 1px solid #d9edf7;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Content */
    .content{
        width: 80%;
        height: 100%;
        background: #F2EFF6;
        min-height: 400px;
        float: left;
    }
    
    .content .header{
        padding: 10px 20px;
        background: #FAFAFA;
    }

    .content .header .left-header .circle{
        width: 40px;
        height: 40px;
        float: left;
        border: 1px solid #d9edf7;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .header .left-header .text{
        float: left;
    }
    
    .content .header .left-header .level1{
        color: #686868;
        font-size: 1rem;
    }

    .content .header .left-header .detail {
        color: #686868;
        font-size: 0.7rem;
    }

    @media only screen and (max-device-width: 480px) {
        div.content{
            width: 100%;
        }

        div.intro{
            display: none;
        }
    }

    .clear{
        clear : both;
    }