$sidebar : #673E8C;
$sidebar_intro : #511F79;

$content_back : #F2EFF6;
$content_back_mobile : #ECEFF1;


$header_back:#FAFAFA;
$header_back_mobile:#00796B;


$text_message_me_back: #fff;
$text_message_me_back_mobile: #fff;
$text_message_me_font_color: #5E427A;
$text_message_me_font_color_mobile: #5E427A;

$text_message_other_back: #CFD8DC;
//#9E5DDF;
$text_message_other_back_mobile: #CFD8DC;
$text_message_other_font_color: #333;
//#fff;
$text_message_other_font_color_mobile: #333;
